@model IEnumerable<WebApplicationMVC.Models.Products>
@{ 
    int page = ViewBag.Page;
    int pageSize = ViewBag.PageSize;
    int totalRecords = ViewBag.TotalRecords;
    int totalPages = (int)Math.Ceiling((double)totalRecords / pageSize);
}
<h2>Product List</h2>

<a href="@Url.Action("Create")" class="btn btn-primary">Add New Product</a>

<table class="table">
    <thead>
        <tr>
            <th>ProductId</th>
            <th>ProductName</th>
            <th>CategoryId</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.CategoryId</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.ProductId })" class="btn btn-primary">Edit</a>

                    <a href="@Url.Action("Delete","Products", new {id = item.ProductId})" class="btn btn-danger">Delete</a>
                </td>


            </tr>
        }
    </tbody>
</table>



<div>
    @if (page > 1)
    {
        <a href="@Url.Action("Index", new { page = page - 1, pageSize })">Previous</a>
    }
    Page @page of @totalPages
    @if (page < totalPages)
    {
        <a href="@Url.Action("Index", new { page = page + 1, pageSize })">Next</a>
    }
</div>
